.SprintItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background-color: #111;
  border-bottom: 1px solid #444;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #222;
  }

  &_Properties {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &_Delete {
    background-color: #e74c3c;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background-color: #c0392b;
    }
  }
}